.headerContainer {
    height: 5rem;
    border-bottom: 1px solid var(--gray-800);
}

.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    nav {
        margin-left: 5rem;
        height: 5rem;

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            line-height: 5rem;
            color: var(--gray-300);

            transition: color .2s;

            & + a {
                margin-left: 2rem;
            }

            &:hover {
                color: var(--white);
            }

            &.active {
                color: var(--white);
                font-weight: bold;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    border-radius: 3px 3px 0 0;
                    background-color: var(--yellow-500);
                }
            }
        }
    }

    button {
        margin-left: auto;
    }
}

@media (max-width: 756px) {
    .headerContainer {
        position: fixed;
        bottom: 0;
        left: 0;

        width: 100%;

        border-bottom: none;
        border-top: 1px solid var(--gray-800);

        background-color: var(--gray-900);
        z-index: 10;
    }

    .headerContent {
        img {
            display: none;
        }

        nav {
            margin-left: 0;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }

        button {
            position: fixed;
            top: 1rem;
            right: 2rem;
        }
    }
}